@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.degrade{
    height: 100%;
    background: linear-gradient(110deg, #D4AF37 0%, #D8B646 1%, rgba(255,255,255,1) 40%);
}


body{
    font-family: "Arima", system-ui;
    overflow-x: hidden;
}




header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding-left: 5%;
    padding-right: 5%;

}
.logo{
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}
header div a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}


nav{
    padding-right: 5%;
}

nav ul {
    display: flex;
    list-style-type: none; /* Eliminar los puntos de la lista */
    justify-content: center; /* Centrar los elementos en el nav */
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none; 
    color: #000000; 
    transition: background-color 0.3s ease; 
    padding-left: 15%;
    transition: transform 0.5s ease;
}

nav ul a:hover {
    transform: scale(1.2);
    font-weight: bold;
}

nav ul li {
    font-size: 1.5vw;
    padding-left: 15%;
}


.visible{
    opacity: 1;
}




.seccionvideo h1{
    position: absolute;
    top: 5%;
    left: 10%;
    max-width: 60vw;
    font-size: 3.5vw;
    text-align: center;
    font-family: "Arima", system-ui;
    line-height: 1.2;
    color: white;
    animation-duration: 4s;
    text-shadow: 2px 2px 4px black;
}



.seccionvideo{
    height: 80vh;
    width: 100%;
    margin-top: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    position: relative;
    border-radius: 12px;
}

.video{
    width: 70vw;
    height: auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    animation-duration: 4s;
    margin-top: -3%;
    background-color: #000000;
    z-index: 1;

}
.video video{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: 0;
    opacity: 0.7;
}
.videomobile{
    display: none;
}





.section3{
    display: none;
}



.seccionservicios{
    height: 175vh;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 12%;
    gap: 3%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.textoservicios{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 0%;
    padding-bottom: 5%;
    font-family: "Arima", system-ui;
    font-weight: 0;
    font-size: 3vw;
    width: 48%;
}

.servicios {
    display: flex;
    width: 48%; 
    height: 80vh; 
    margin-bottom: 2%; 
    border-radius: 10px; 
    padding-top: 0;
    position: relative;
    cursor: pointer;
    animation-duration: 4s;
}

.imagenservicio {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10px; 
    overflow: hidden;
    background-color: black;
    position: relative;
}
.imagenservicio img{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease;
}

.imagenservicio h3 {
    font-size: 3vw;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    transition: bottom 1s ease, opacity 2s ease;
}

.imagenservicio p {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: 2vw;
    color: white;
    transition: bottom 1s ease, opacity 2s ease; 
    width: 80%;
    font-weight: 600;
}
.servicios:hover p{
    opacity: 1;
    bottom: 20%;
}
.servicios:hover h3{
    opacity: 1;
    bottom: 80%;
}
.servicios:hover img{
opacity: 0.4;
}









.fondofix{
    height: 100vh; /* Ocupa toda la pantalla */
    background-image: url('./imagenes/FondoBosque.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fondofix h2{
    font-size: 5vw;
    line-height: 320%;
    color: white;
    text-shadow: 2px 2px 4px black;
}



/* Contenedor principal */
.section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    gap: 20px;
    width: 100%;
    height: 90vh; /* Ajusta según el diseño */
    background-color: #f5f5f5;
}

  /* Imagen y fondo */
.image-container {
    position: relative;
    width: 40%; /* Ajusta el tamaño de la imagen */
    height: 100%;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./imagenes/imagen11.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Desenfoque del fondo */
    z-index: 1;
}
.background-image1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./imagenes/imagen7.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Desenfoque del fondo */
    z-index: 1;
}
.background-image2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./imagenes/imagen8.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Desenfoque del fondo */
    z-index: 1;
}

.image-container img {
    position: relative;
    width: 75%; /* Tamaño de la imagen principal */
    height: 75%;
    z-index: 2; /* Por encima del fondo */
    margin: auto; /* Centra la imagen principal */
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Opcional: sombra para destacar */
    transition: 2s ease;
}
.image-container img:hover{
    transform: scale(1.3);
}

  /* Texto */
.text-container {
    width: 53%;
    padding: 20px;
}

.text-container h2 {
    font-size: 2.5vw;
    margin-bottom: 10px;
    color: #333;
    line-height: 3;
    text-align: center;
}











.mapa{
    height: 100vh;
}
.transporte{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.transporte img{
    width: 20%;
    height: auto;
}
.tren, .auto, .ferry{
    margin-top: -6%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #fdfaf1;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}








.formulariofix{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding-top: 1%;
    padding-bottom: 1%;
    transition: opacity 1s ease;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 900;
}
.formulariofix img{
    width: 3.5%;
    height: auto;
}
.formulariofix h2{
    font-size: 1.5vw;
    margin-left: -8%;
    font-weight: 0;
}

.formulariofix form{
    display: flex;
    align-items: center;
    gap: 3%;
    width: 60%;
}
.formulariofix label{
    font-size: 1.2vw;
    font-weight: bold;
}

.formulariofix textarea{
    width: 30%; 
    height: 3vh; 
    border: none; 
    border-bottom: 1px solid #4a4a4a;
    outline: none;
    resize: none;
}

.formulariofix input {
    border: none; 
    border-bottom: 1px solid #4a4a4a;
    outline: none;
}

.formulariofix button {
    padding: 10px 15px;
    width: 20%;
    background-color: #03a43b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.hidden {
    opacity: 0; 
    pointer-events: none; 
}




.contenedor {
    display: flex;
    margin-top: 5%;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    padding-top: 2%;
}

.formulario {
    padding: 2%;
    padding-left: 10%;
    width: 45%;
}

.formulario h2 {
    font-size: 2vw;
    color: #333;
    margin-bottom: 1em;
}

.formulario label {
    font-weight: bold;
    color: #555;
}

.formulario input[type="text"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.formulario textarea {
    height: 100px;
    resize: none;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #218838;
}

.redes-sociales {
    width: 45%;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.redes img{
    width: 100%;
    height: auto;
    padding: 10%;
}
.redes a{
    width: 10%;
}




.nosotros{
    text-align: center;
    height: 90vh;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 5%;
    box-shadow: 1px 1px 6px rgba(49, 49, 49, 0.5);
    border-radius: 24px;
    padding: 3%;
}
.nosotros h3{
    font-size: 3.5vw;
    font-weight: 400;
    font-style: italic;
}
.nosotros p{
    font-size: 1.7vw;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}






footer{
    height: 25vh;
    background: linear-gradient(0deg, #fef2c0 0%, #fff9e4 70%, rgba(255,255,255,1) 100%);  
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}
.logofooter{
    height: 80%;
    width: auto;
}
footer h4{
    font-size: 1.4vw;
}
footer a{
    text-decoration: none;
    color: black;
}

.redesfooter{
    height: 4vh;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
}


@media screen and (max-width: 440px) {
    body{
        overflow-x: hidden;
    }
    header{
        padding-left: 1%;
        padding-right: 3%;
        height: 13vh;
    }
    nav ul a{
        padding-left: 5%;
        padding-right: 3%;
        font-weight: 600;
    }
    nav ul li{
        font-size: 4vw;
        padding: 0;
        margin-left: -20%;
    }
    .logo{
        margin-left: 0;
        transform: translateX(0%);
        height: 90%;
    }
    .seccionvideo h1{
        font-size: 8vw;
        max-width: 90vw;
        padding: 0;
        margin: 0;
        left: 5%;
        top: 40%;
    }
    .seccionvideo{
        height: 60vh;
        width: 100vw;
        margin-right: 10%;
    }
    .video{
        width: 100%;
    }
    .videoweb{
        display: none;
    }
    .videomobile{
        display: block;
        
    }
    .seccionservicios{
        height: 180vh;
        padding-bottom: 7%;
        padding-top: 4%;
        margin-bottom: 0%;
        margin-top: 2%;
    }
    .servicios{
        width: 95%;
        height: 40vh;
        margin-bottom: 0;
        padding-bottom: 1%;
        padding-top: 0;
        margin-top: 0;
    }
    .textoservicios{
        font-size: 6vw;
        padding-bottom: -5%;
        padding-top: 8%;
        height: 20vh;
    }
    .imagenservicio h3{
        font-size: 8vw;
    }
    .imagenservicio p{
        font-size: 5vw;
    }
    .fondofix h2{
        font-size: 12vw;
    }
    .section-container{
        display: none;
    }
    .highlightm{
        height: 45vh;
        position: relative;
        animation-duration: 3s;
        overflow: hidden;
        z-index: 2;
        animation-duration: 3s;
        display: flex;
        justify-content: center;
    }
    .imagenhighlightm{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-align: center;
    }
    .imagenhighlightm img, .videomobile2{
        width: 100vw;
        height: 50vh;
        z-index: -2;
        
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0, 0.8) 0%, rgb(0, 0, 0, 0.6) 20%, rgba(255,255,255,0) 50%);
        z-index: 1; 
    }
    .highlightm p{
        max-width: 100%;
        font-size: 7vw;
        position: absolute;
        bottom: 2%;
        color: white;
        text-align: center;
        line-height: 1.3;
        z-index: 2;
    }
    .section2{
        background: none;
        display: none;
    }
    .degrademobile{
        background: linear-gradient(0deg, #fff5cf 0%, #fff9e4 50%, rgba(255,255,255,1) 100%);
    }
    .section3{
        display: block;
        padding-bottom: 5%;
        padding-top: 5%;
        overflow-x: hidden;
        background-color: #fff5cf;
    }
    .swiper-button-next, .swiper-button-prev {
        color: #fff; /* Color de las flechas */
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .swiper-button-next {
        right: 10px; /* Posición a la derecha */
    }
    
    .swiper-button-prev {
        left: 10px; /* Posición a la izquierda */
    }
    
    /* Ajusta el tamaño y efecto de hover */
    .swiper-button-next:hover, .swiper-button-prev:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .mapa{
        height: 80vh;
    }
    .transporte{
        gap: 2%;
        margin-top: -10%;
    }
    .tren, .auto, .ferry{
        width: 31%;
        margin-bottom: 1%;
        padding: 4px;
    }
    .formulario h2{
        font-size: 6vw;
        width: 150%;
    }
    .redes a{
        width: 30%;
    }
    .contenedor{
        padding-top: 25%;
    }
    .formulario{
        width: 60%;
    }
    .formulariofix{
        display: none;
    }
    .nosotros{
        height: 40vh;
        margin-left: 10%;
        margin-right: 10%;
    }
    .nosotros h3{
        font-size: 6vw;
    }
    .nosotros p{
        font-size: 3vw;
    }
    footer{
        height: 100%;
        background: linear-gradient(0deg, #fef2c0 0%, #fff9e4 70%, rgba(255,255,255,1) 100%);  
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 2%;
        padding-left: 2%;
    }
    footer div{
        margin-bottom: 5%;
    }
    .logofooter{
        width: 40%;
        height: auto;
    }
    footer h4{
        font-size: 5.2vw;
    }
    footer a{
        text-decoration: none;
        color: black;
    }
    
    .redesfooter{
        height: 5vh;
        width: auto;
        margin-left: 3%;
        margin-right: 3%;
    }
}